requests
uvicorn
fastapi
openai
azure-identity
azure-search-documents
azure-ai-agents
azure-ai-textanalytics
azure-ai-language-conversations
azure-ai-language-questionanswering
semantic-kernel==1.32.2
pytest
